.chatContent-main {
  background: #28252D;
}
.chat-sender, .chat-reply {
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.44), rgba(0, 0, 0, 0.44)),
  linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: overlay;
  width: 85%;
  border-radius: 10.76px 10.76px 10.76px 0;
}
.chat-sender p, .chat-reply p {
  color: rgba(228, 228, 229, 1);
  font-size: 12px;
  padding: 10px;
}
.chatContent-main textarea {
  box-shadow: inset 17px 22px 20px 2.5px rgba(17, 16, 20, .7), inset -2px -2px 8px rgba(203, 199, 209, .5);
  background: transparent;
  border-radius: 13px;
  resize: none;
  min-height: 105px;
  border: none;
  width: 90%;
  padding: 9px 0 0 20px;
  color: #fff;
}
.chatContent-main .emoji-mart {
  position: absolute;
  top: 205px;
  z-index: 1;
}
.chat-sender {
  background: #392f39;
}
.chat-reply {
  margin-left: auto;
  background: #3a3541;
}
.chat-message {
  position: relative;
  margin: 20px 0;
  border-radius: 11px;
}
.chat-images {
display: flex;
flex-direction: column;
align-items: end;
justify-content: flex-start;
position: absolute;
right: 20px;
top: 20px;
}
.chat-images img {
width: 20px;
}
.chat-images a {
margin-bottom: 5px;
}
.message-area{
overflow-y: auto;
max-height: 166px;
}
.attachment {
display: inline-block;
color: #fff;
cursor: pointer;
border-radius: 5px;
}
.swiper-slide{
  display: flex;
  align-items: end;
}
.chatContent-main .swiper-slide{
  box-shadow: inset 17px 22px 20px 2.5px rgba(17, 16, 20, .7), inset -2px -2px 8px rgba(203, 199, 209, .5);
  background: transparent;
}

.message-area p {
  font-family: 'Gilroy', sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: -0.011em;
  text-align: left;
}
.chat-message textarea {
  font-family: 'Gilroy', sans-serif;
}

