<div class="chatContent-main">
  <swiper [slidesPerView]="'auto'" [spaceBetween]="10" [loop]="true"
          (slideChange)="swipeHeaderRoom()" [formGroup]="messageFormGroup">
    <ng-template swiperSlide let-data *ngFor="let slide of defaultRecords; index as i">
      <div class="chatbox-main">
        <div class="message-area" [id]="data.isActive ? 'message-area' + indexNumber : ''">
          <div *ngFor="let msg of slide.messages">
            <div class="chat-sender" *ngIf="msg.status == 'received'">
              <p>
                {{ msg.message }}
              </p>
            </div>
            <div class="chat-reply" *ngIf="msg.status == 'sent'">
              <p>
                {{ msg.message }}
              </p>
            </div>
          </div>
        </div>
        <div class="chat-message">
          <textarea name="chat-msg" cols="30" rows="7" placeholder="Your Message" [formControlName]="'message' + i"></textarea>
          <div class="chat-images">
            <a href="#">
              <img src="./assets/Vector.png" (click)="addMessage(i, ('message' + i))"/>
            </a>
            <a class="attachment">
              <label for="fileInput"><img src="./assets/Attachment.png" /></label>
              <input type="file" id="fileInput" style="display: none">
            </a>
            <a href="#" (click)="toggleEmojiPicker()">
              <img src="./assets/Emoji.png" />
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <div slot="container-end" class="swiper-pagination pagination-test"></div>
  </swiper>
  <emoji-mart
    class="emoji-mart"
    *ngIf="showEmojiPicker"
    (emojiSelect)="addEmoji($event)"
    title="Add Emoji"
    [set]="'twitter'"
    [perLine]="perLineEmoji"
  ></emoji-mart>
</div>
