<div class="chatHeader-main">
  <swiper [navigation]="navigation"
          [slidesPerView]="3" [spaceBetween]="50" [breakpoints]="breakpoints" [scrollbar]="scrollbar" [loop]="true"
          [(index)]="indexNumber" [pagination]="{ el: '.swiper-pagination.pagination-test' }">
    <ng-template swiperSlide let-data *ngFor="let slide of slideMy; index as i">
      <div class="profile-card" >
        <img (click)="swipeHeaderRoom(i)" class="profile-image" src="{{slide.url}}" alt="Profile 1">
        <div class="profile-name">{{slide.name}}</div>
      </div>
    </ng-template>
    <div slot="container-end" class="swiper-pagination pagination-test"></div>
  </swiper>
</div>
